body {
    font-family: Arial, sans-serif;
}

#pdf-form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #504a4a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pdf-file {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

#extract-button {
    width: 100%;
    height: 40px;
    background-color: #2e0e85;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#extract-button:hover {
    background-color: #3e8e41;
}

#extracted-text {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #2e963b;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}